-function prettyDate(dateString){

-var date = new Date(dateString);
-var d = date.getDate();
-var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
-var m = monthNames[date.getMonth()];
-var y = date.getFullYear();
-return d+' '+m+' '+y;
-}
.container-fluid.collection
    h1.text-center #{title}
    .panel
        .panel-default.text-center
            .row
                strong Автор:
                span #{user.name}
            .row
                strong Обнавленна:
                span #{prettyDate(updated_at)}
            .row
                strong Количество фото:
                span #{total_photos}
            .row #{description}
    .collection-photos.row